<h1>Uploaded images</h1>



<table class="table">
    <tr>
        <th>Title</th>
        <th>Image URL</th>
        <th>Description</th>
        <th>Options</th>
    </tr>
    <tbody>
        @foreach (var image in @Model)
        {
            <tr>
                <td>
                    @image.Title
                </td>
                <td>
                    @image.ImageData
                </td>
                <td>                  
                    @image.Description
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Image" asp-action="DeleteImage" asp-route-Id="@image.GID">Usun</a>
                    <a class="btn btn-primary" asp-controller="Image" asp-action="EditForm" asp-route-Id="@image.GID">Edytuj</a>
                </td>
            </tr>
        }
    </tbody>
</table>