@model IQueryable<MainUser>
@{
    ViewData["Title"] = "Friends";
}
<h1 class="h1">User control panel</h1><br />
<table class="table">
    <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Description</th>
        <th>Delete</th>
    </tr>
    <tbody>
        @foreach (var user in @Model)
        {
            <tr>
                <td>
                    @user.Id
                </td>
                <td>
                    @user.UserName
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    @user.Description
                </td>
                <td>                   
                    @if (user.UserName != User.Identity.Name)
                    {
                        <a class="btn_delete" asp-controller="Admin" asp-action="DeleteUser" asp-route-Name="@user.UserName"><img src="https://img.icons8.com/glyph-neue/64/000000/trash.png" width="25" height="30"/></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>